<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa1G7LQvEJow64jR8uxfxV_Z95d5VTabI</string>
	<key>GCM_SENDER_ID</key>
	<string>47447045338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamshid.dailytracker</string>
	<key>PROJECT_ID</key>
	<string>dailydeedtracker</string>
	<key>STORAGE_BUCKET</key>
	<string>dailydeedtracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47447045338:ios:79b77ffe8312de12f1e1e3</string>
</dict>
</plist>